* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info_Parent {
    display: flex;
    padding: 5rem 0;
}

.info {
    font-size: 1.5rem;
    width: 50%;
    color: white;
    margin: 7rem 2rem 5rem 4rem;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}

.info h1 {
    font-size: 3rem;
    color: rgb(255, 207, 188);
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.info button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 25px;
    background-color: white;
    color: black;
    font-style: italic;
    font-family: "Cormorant Garamond", serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.info button a {
    text-decoration: none;
    color: inherit;
}

.info button:hover {
    background-color: rgb(255, 207, 188);
}

.info_img {
    padding: 2rem;
}

.info_img img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.626);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .info_Parent {
        display: block;
        padding: 0;
    }

    .info {
        margin-top: 2rem;
        margin-left: 25%;
        text-align: center;
    }

    .infoMsg {
        padding-top: 2.5rem;
    }

    .info button {
        margin-top: 25px;
    }

    .info_img img {
        height: 100%;
        width: 100%;
    }
}